{% extends 'blog/base.html' %}

{% block content %}
    <div class="post_admin">
        {% if post_ad.published_date %}
            <div class="date">
                {{ post_ad.published_date }}
            </div>
        {% endif %}
        <h1>{{ post_ad.title }}</h1>
        <p>{{ post_ad.text|linebreaksbr }}</p>
    </div>
<hr>



    <hr>
<form action="post_admin/<int:pk>/leave_comment_ad" method="POST">

	{% csrf_token %}
	
	<input type="text" required placeholder ="Ваше ім'я" name="name"><br>
	<textarea name="text" required="" placeholder="Текст коментаря" cols="30" rows="10"></textarea><br>

	<button type="submit">Залишити коментар</button>

</form>
{% endblock %}