{% extends 'blog/base.html' %}

{% block content %}
    <div class="post_admin">
        {% if post_ad.published_date %}
            <div class="date">
                {{ post_ad.published_date }}
            </div>
        {% endif %}
        <h1>{{ post_ad.title }}</h1>
        <p>{{ post_ad.text|linebreaksbr }}</p>
    </div>


<hr>
{% if leave_comment_ad_list %}
    {% for c in leave_comment_ad_list %}
        <p>
            <strong>{{c.author_name}}</strong>
            <p>{{c.comment_text}}</p>
        </p>
        
    {% endfor %}
{% else %}
Коментарів немає!
{% endif %}
<hr>

    
<form action="" method="POST">

	{% csrf_token %}
	
	<input type="text" required placeholder ="Ваше ім'я" name="name"><br>
	<textarea name="text" required="" placeholder="Текст коментаря" cols="30" rows="10"></textarea><br>

	<button type="submit">Залишити коментар</button>

</form>
{% endblock %}